{% extends 'base.html' %}
{% block content %}
<h2>Cuestionario de Fitopatología</h2>
<form method="post">
    {% csrf_token %}
    {% for pregunta in preguntas %}
        <div>
            <p><strong>{{ pregunta.pregunta }}</strong></p>
            {% for opcion in pregunta.opciones %}
                <label>
                    <input type="radio" name="{{ pregunta.id }}" value="{{ opcion }}" required>
                    {{ opcion }}
                </label><br>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
    <button type="submit">Enviar respuestas</button>
</form>
{% endblock %}
