# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
env/
venv/

# Archivos de migraciones compilados
**/migrations/
**/migrations/*.pyc
**/migrations/__pycache__/

# Base de datos local
*.sqlite3

# Archivos de configuración local
.env

# Archivos de tu editor
.idea/
.vscode/

# Django
*.log
*.pot
*.pyc